.calendlyWrapper {
    margin : 0 auto;
    text-align: center;
    width: min(100vw, 500px);

}
.calendlyHelper {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blankSpace {
    width: 37px;
}

.therapistName {
    font-size: 1.9em;
    text-align: center;

}

.getHelp {
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionMark {
    font-size: 30px;
    text-align: center;
    width: 37px;
    height: 37px;
    font-weight: 900;
    color: #4E8AFF;
    border-radius: 50%;
    background-color:#F1F5FE;
}

.questionTypo {
    margin-top: 5px;
    font-size: 0.8em;

}